SCF/Core/obj/
SCF/Core/bin/
SCF/NotificationService/obj/
SCF/NotificationService/bin/
SCF/SCF.QoSAnalysis/bin/
SCF/SCF.QoSAnalysis/obj/
SCF/SCF.ReportCenter/obj/
SCF/SCF.ReportCenter/bin/
SCF/SCF.ServiceAdaptors/obj/
SCF/SCF.ServiceAdaptors/bin/
SCF/SCF.ServiceDiscovery/bin/
SCF/SCF.ServiceDiscovery/obj/
SCF/SCF.ServiceRepository/obj/
SCF/SCF.ServiceRepository/bin/
SCF/SCF.WorkflowEngine/obj/
SCF/SCF.WorkflowEngine/bin/
SCF/SCF.ServiceDiscovery/obj/
SCF/SCF.ServiceDiscovery/bin/
SCF/SCF.ReportCenter/bin/
SCF/SCF.ReportCenter/obj/
